<h1>Editing my thread</h1>

<%= render "form", my_thread: @my_thread %>

<br>

<div>
  <%= link_to "Show this my thread", @my_thread %> |
  <%= link_to "Back to my threads", my_threads_path %>
</div>
